
# Output File of zgrab2
certs_polito.json

# Input File for analysis
top-10m-websites-dom-cop.txt
domini_europei_google.txt
domini_italiani_google.txt

# DB files
*.db
*.db-journal
*.db-shm
*.db-wal

# BACKUP files
*ocsp_certificates_backup.csv
*ocsp_check_results_temp.csv
